[submodule "half"]
	path = base/half
	url = https://github.com/ROCm/half.git
	branch = rocm
[submodule "HIPIFY"]
	path = compiler/hipify
	url = https://github.com/ROCm/HIPIFY.git
	branch = amd-mainline
[submodule "llvm-project"]
	path = compiler/amd-llvm
	url = https://github.com/ROCm/llvm-project.git
	branch = amd-mainline
[submodule "rocm-cmake"]
	path = base/rocm-cmake
	url = https://github.com/ROCm/rocm-cmake.git
	branch = mainline
[submodule "rocm-libraries"]
	path = rocm-libraries
	url = https://github.com/ROCm/rocm-libraries
	branch = develop
[submodule "rocm-systems"]
	path = rocm-systems
	url = https://github.com/ROCm/rocm-systems.git
	branch = develop
[submodule "spirv-llvm-translator"]
	path = compiler/spirv-llvm-translator
	url = https://github.com/ROCm/SPIRV-LLVM-Translator.git
	branch = amd-mainline
[submodule "amd-mesa"]
	path = third-party/sysdeps/linux/amd-mesa/mesa-fork
	url = https://github.com/ROCm/mesa-fork.git
	branch = amd-decode-only
[submodule "iree"]
	path = iree-libs/iree
	url = https://github.com/iree-org/iree.git
	branch = main
[submodule "fusilli"]
	path = iree-libs/fusilli
	url = https://github.com/iree-org/fusilli.git
	branch = main
[submodule "libhipcxx"]
	path = math-libs/libhipcxx
	url = https://github.com/ROCm/libhipcxx.git
	branch = amd-develop
[submodule "rocgdb"]
	path = debug-tools/rocgdb/source
	url = https://github.com/ROCm/rocgdb.git
	branch = amd-staging-rocgdb-16
