#!/bin/bash

binaries=( hipcc rocminfo amd-smi rocm_agent_enumerator rocm-smi rocprofv3  )

is_debian_like() {
    local id_like="$1"
    case " $id_like " in
        (*" debian "*|*" ubuntu "*)
            return 0
            ;;
        (*)
            return 1
            ;;
    esac
}

do_update_alternatives(){
    # skip update if program doesn't exist
    command -v update-alternatives >/dev/null || return 0

    {% if target == "deb" %}
        PKG_INSTALL_PREFIX={{ install_prefix }}
    {% else %}
        PKG_INSTALL_PREFIX="$RPM_INSTALL_PREFIX0"
    {% endif %}

    for i in "${binaries[@]}"
    do
        update-alternatives --remove "$i" \
            "$PKG_INSTALL_PREFIX/bin/$i"
    done

    # Remove /opt/rocm/core soft link
    update-alternatives --remove "core" "$PKG_INSTALL_PREFIX"
    update-alternatives --remove "core-{{ version_major }}" "$PKG_INSTALL_PREFIX"

    # Remove /opt/rocm/bin, /opt/rocm/lib, and /opt/rocm/include soft links
    update-alternatives --remove "rocm-bin" "$PKG_INSTALL_PREFIX/bin"
    update-alternatives --remove "rocm-lib" "$PKG_INSTALL_PREFIX/lib"
    update-alternatives --remove "rocm-include" "$PKG_INSTALL_PREFIX/include"

    # Remove /opt/rocm/llvm, /opt/rocm/amdgcn, and /opt/rocm/libexec soft links
    update-alternatives --remove "rocm-llvm" "$PKG_INSTALL_PREFIX/llvm"
    update-alternatives --remove "rocm-amdgcn" "$PKG_INSTALL_PREFIX/amdgcn"
    update-alternatives --remove "rocm-libexec" "$PKG_INSTALL_PREFIX/libexec"
}

if [ -e /etc/os-release ] && source /etc/os-release && is_debian_like "${ID_LIKE:-$ID}"
then
   case "$1" in
       (remove|upgrade)
           do_update_alternatives
       ;;
       (purge)
           # nothing to do
       ;;
       (*)
           exit 0
       ;;
   esac
else
    do_update_alternatives
fi
