# Use LLVM tools for stripping / objcopy
{% if disable_rpm_strip %}
%global __strip   /bin/true
{% else %}
%global __strip   /usr/bin/llvm-strip-20
{% endif %}
%global __objcopy /usr/bin/llvm-objcopy-20

%global _buildshell /bin/bash
%global _debugsource_template %{nil}
%global debug_package %{nil}          # disables -debuginfo
%define __brp_mangle_shebangs %{nil}
# Exclue libpython requirements. Used for amdrocm-debugger
{%- if exclude_libpython_requires %}
%define __requires_exclude libpython*.*
{%- endif %}

Name: {{ pkg_name }}
Version: {{ version }}
Release: {{ release }}
BuildArch: {{ build_arch }}
Summary: {{ description_short }}
Group: {{ group }}
License: {{ pkg_license }}
Vendor: {{ vendor }}
Prefix: {{ install_prefix }}
{%- if requires %}
Requires: {{ requires }}
{%- endif %}
{%- if rpmrecommends %}
Recommends: {{ rpmrecommends }}
{%- endif %}
{%- if rpmsuggests %}
Suggests: {{ rpmsuggests }}
{%- endif %}
{%- if provides %}
Provides: {{ provides }}
{%- endif %}
{%- if obsoletes %}
Obsoletes: {{ obsoletes }}
{%- endif %}
{%- if conflicts %}
Conflicts: {{ conflicts }}
{%- endif %}
%description
{{ description_long }}

%prep
%setup -T -D -c -n {{ pkg_name }}

%build

%install
mkdir -p $RPM_BUILD_ROOT{{ install_prefix }}
{% for path in sourcedir_list %}
{
   shopt -s dotglob
   cp -R "{{ path }}"/* "$RPM_BUILD_ROOT{{ install_prefix }}/"
}
{% endfor %}

%files
{{ install_prefix }}

%clean
rm -rf $RPM_BUILD_ROOT

{% if rpm_scripts['%pre'] %}
%pre
{{ rpm_scripts['%pre'] }}
{% endif %}

{% if rpm_scripts['%post'] %}
%post
{{ rpm_scripts['%post'] }}
{% endif %}

{% if rpm_scripts['%preun'] %}
%preun
{{ rpm_scripts['%preun'] }}
{% endif %}

{% if rpm_scripts['%postun'] %}
%postun
{{ rpm_scripts['%postun'] }}
{% endif %}
